<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/aula11007/src/aula11007/minhaclasse.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aula11007.minhaclasse"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="aula11007"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aula11007"/>
</launchConfiguration>
